version: "3.3"

services:
  services:
    image: dev.local/food-ordering/services:0.0.1
    environment:
      - RESTATE_DEBUG_LOGGING=JOURNAL_VERBOSE
      - POS_ENDPOINT=http://pos_server:5050
    ports:
      - "8080:8080"

  jaeger:
    image: jaegertracing/all-in-one:1.47
    ports:
      - "16686:16686"
      - "4317:4317"
    environment:
      - COLLECTOR_OTLP_ENABLED=true

  runtime:
    image: ghcr.io/restatedev/restate-dist:0.1.7
    depends_on:
      - services
      - jaeger
    ports:
      - "9090:9090"
      - "8081:8081"
    environment:
      - RESTATE_OBSERVABILITY__TRACING__ENDPOINT=http://jaeger:4317

  runtimesetup:
    image: alpine
    depends_on:
      - runtime
      - services
    restart: "no"
    entrypoint: ["sh", "-c", "sleep 5 && apk add --no-cache bash jq curl &&
    curl -X POST 'runtime:8081/endpoints' -H 'content-type: application/json' -d '{\"uri\": \"http://services:8080\"}'
    || exit 1"]

  grpcui:
    image: fullstorydev/grpcui:v1.3.1
    ports:
      - "3030:3030"
    depends_on:
      runtimesetup:
        condition: service_completed_successfully
    entrypoint: ["/bin/grpcui", "-bind=0.0.0.0", "-port=3030", "-plaintext", "runtime:9090"]

  pos_server:
    image: dev.local/food-ordering/pos_server:0.0.1
    depends_on:
      - runtimesetup
    environment:
      - RESTATE_RUNTIME_ENDPOINT=http://runtime:9090
    ports:
      - "5050:5050"
