name: Create new release

on:
  push:
    tags:
      - v**

jobs:
  publish-release:
    # prevent from running on forks
    if: github.repository_owner == 'restatedev'
    name: Publish release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Prepare zip files
        run: ./.tools/prepare_release_zip.sh

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          # create a draft release which needs manual approval
          draft: true
          # NOTE: order here matters!
          files: |
                  python-hello-world.zip
                  python-hello-world-lambda.zip
                  python-hello-world-lambda-cdk.zip
                  python-tour-of-orchestration.zip
                  python-tour-of-workflows.zip
                  python-basics.zip
                  python-patterns-use-cases.zip
                  python-chat-bot.zip
                  python-food-ordering.zip
                  python-rag-ingestion.zip
            
                  java-hello-world-gradle.zip
                  java-hello-world-maven.zip
                  java-hello-world-new-api-gradle.zip
                  java-hello-world-new-api-maven.zip
                  java-hello-world-maven-spring-boot.zip
                  java-hello-world-new-api-maven-spring-boot.zip
                  java-hello-world-maven-quarkus.zip
                  java-hello-world-lambda-cdk.zip
                  java-tour-of-orchestration.zip
                  java-tour-of-workflows.zip
                  java-basics.zip
                  java-patterns-use-cases.zip
                  java-food-ordering.zip
                  java-subway-fare-calculator.zip
                  java-workflow-interpreter.zip
            
                  kotlin-hello-world-gradle.zip
                  kotlin-hello-world-gradle-spring-boot.zip
                  kotlin-basics.zip
                  kotlin-patterns-use-cases.zip
                  kotlin-food-ordering.zip
                  kotlin-kmp-android-todo-app.zip
                  kotlin-hello-world-lambda-cdk.zip
            
                  typescript-hello-world.zip
                  typescript-hello-world-bun.zip
                  typescript-hello-world-cloudflare-worker.zip
                  typescript-hello-world-deno.zip
                  typescript-hello-world-vercel.zip
                  typescript-hello-world-lambda.zip
                  typescript-hello-world-lambda-cdk.zip
                  typescript-tour-of-orchestration.zip
                  typescript-tour-of-workflows.zip
                  typescript-food-ordering.zip
                  typescript-basics.zip
                  typescript-patterns-use-cases.zip
                  typescript-chat-bot.zip
                  typescript-ai-image-workflows.zip
                  typescript-nextjs-fullstack.zip
            
                  go-hello-world.zip
                  go-hello-world-lambda-cdk.zip
                  go-tour-of-orchestration.zip
                  go-tour-of-workflows.zip
                  go-basics.zip
                  go-patterns-use-cases.zip
                  go-knative-go.zip
            
                  rust-hello-world.zip
                  rust-hello-world-shuttle.zip
                  rust-basics.zip



  copy-deno-template:
    name: Copy deno template to deno-template repo
    uses: ./.github/workflows/copy-to-repo.yml
    secrets: inherit
    with:
      source-directory: typescript/templates/deno
      destination-repo: deno-template
  copy-vercel-template:
    name: Copy vercel template to vercel-template repo
    uses: ./.github/workflows/copy-to-repo.yml
    secrets: inherit
    with:
      source-directory: typescript/templates/vercel
      destination-repo: vercel-template
  copy-cloudflare-workers-template:
    name: Copy cloudflare-worker template to cloudflare-workers-template repo
    uses: ./.github/workflows/copy-to-repo.yml
    secrets: inherit
    with:
      source-directory: typescript/templates/cloudflare-worker
      destination-repo: cloudflare-workers-template
  copy-ts-lambda-template:
    name: Copy Typescript Lambda template to lambda-typescript-template repo
    uses: ./.github/workflows/copy-to-repo.yml
    secrets: inherit
    with:
      source-directory: typescript/templates/lambda
      destination-repo: lambda-typescript-template
  copy-py-lambda-template:
    name: Copy Python Lambda template to lambda-python-template repo
    uses: ./.github/workflows/copy-to-repo.yml
    secrets: inherit
    with:
      source-directory: python/templates/lambda
      destination-repo: lambda-python-template