name: Create new release

on:
  push:
    tags:
      - v**

jobs:
  publish-release:
    # prevent from running on forks
    if: github.repository_owner == 'restatedev'
    name: Publish release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Prepare zip files
        run: ./.tools/prepare_release_zip.sh

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          # create a draft release which needs manual approval
          draft: true
          files: |
            python-basics
            python-hello-world
            python-patterns-use-cases
            python-tour-of-restate
            python-food-ordering
            python-rag-ingestion
            java-basics
            java-food-ordering
            java-subway-fare-calculator
            java-patterns-use-cases
            java-hello-world-gradle
            java-hello-world-maven
            java-hello-world-maven-spring-boot
            java-hello-world-maven-quarkus
            java-tour-of-restate
            kotlin-basics
            kotlin-food-ordering
            kotlin-kmp-android-todo-app
            kotlin-hello-world-lambda-cdk
            kotlin-patterns-use-cases
            kotlin-hello-world-gradle
            typescript-basics
            typescript-food-ordering
            typescript-chat-bot
            typescript-ai-image-workflows
            typescript-hello-world-lambda-cdk
            typescript-patterns-use-cases
            typescript-hello-world
            typescript-bun-hello-world
            typescript-cloudflare-worker-hello-world
            typescript-deno-hello-world
            typescript-tour-of-restate
            go-basics
            go-hello-world-lambda-cdk
            kotlin-knative-go
            go-patterns-use-cases
            go-hello-world
            go-tour-of-restate
            rust-hello-world
            rust-shuttle-hello-world
            rust-tour-of-restate
