name: Create new release

on:
  push:
    tags:
      - v**

jobs:
  publish-release:
    # prevent from running on forks
    if: github.repository_owner == 'restatedev'
    name: Publish release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Prepare zip files
        run: ./scripts/prepare_release_zip.sh

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          # create a draft release which needs manual approval
          draft: true
          files: |
            typescript-ecommerce-store.zip
            typescript-food-ordering.zip
            typescript-payment-api.zip
            typescript-ticket-reservation.zip
            typescript-hello-world-lambda.zip
            typescript-hello-world-lambda-cdk.zip
            typescript-dynamic-workflow-executor.zip
            typescript-end-to-end-testing.zip
            typescript-tour-of-restate.zip
            java-hello-world-http.zip
            java-hello-world-lambda.zip
            java-food-ordering.zip
            kotlin-hello-world-http.zip
            kotlin-hello-world-lambda.zip
            kotlin-hello-world-lambda-cdk.zip